transformers==4.11.3
tensorboardX==1.8
pytorch-crf==0.7.2
wandb==0.12.1
tokenizers==0.10.3
regex==2021.4.4
tqdm==4.49.0
activations==0.1.0
file_utils==0.0.1
flax==0.3.4
PyYAML==5.4.1
utils==1.0.1
./souece_whl/pytorch_lightning-1.4.0-py3-none-any.whl
torchmetrics==0.5